<div class="panel panel-warning">
  <div class="panel-heading">
      <h2>Assets for</h2> 
      <select (change)="selectOnChange($event.target.value)" class="form-control category-list">
          <option (click)="assetCategory-1">Category 1</option>
          <option (click)="assetCategory-2">Category 3</option>
          <option (click)="assetCategory-3">Category 4</option>
          <option (click)="assetCategory-4">Category 5</option>
      </select>
  </div>
  <div class="panel-body">
      <ul class="list-group" dragula="VAMPIRES" *ngFor ="let asses of activeCategoryItems" >
          <li class="list-group-item">{{ asses }}<span class="pull-right glyphicon glyphicon-move"></span></li>
      </ul>
  </div>
</div>